.subPageHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--s-4);
	padding-block: var(--s-4);
	flex-wrap: wrap;
}

.leftSection {
	display: flex;
	align-items: center;
	gap: var(--s-2);
}

.actions {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	flex-wrap: wrap;
}

.backButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: var(--color-bg);
	border: 2px solid var(--color-bg-higher);
	color: var(--color-text);
	transition: all 0.2s;

	& svg {
		min-width: 30px;
	}

	&:hover {
		background-color: var(--color-bg-higher);
	}
}

.backIcon {
	width: 24px;
	height: 24px;
}

.avatar {
	border-radius: var(--radius-avatar);
}

.userInfo {
	display: flex;
	align-items: center;
	gap: var(--s-2);
	color: inherit;
}

.username {
	font-weight: var(--weight-semi);
	font-size: var(--font-sm);
}
