.root {
	width: 100%;
	--select-width: 100%;
	--input-width: 100%;
}

.root input:not([type="checkbox"]):not([type="radio"]),
.root textarea,
.root select,
.root .react-aria-Group,
.root .react-aria-Select button,
.root .react-aria-DatePicker {
	width: 100%;
}
